<h6 class="page-title"><i class="fas fa-envelope-open-text"></i> View Employer Message</h6>
<div class="card custom-card">
  <div class="card-body">
    <p class="notice-content mb-3">Here you will get the list of messages from different employers. To view the detailed message click on "View" button beside date.</p>
    <div class="upload-resume-wrapper">
      <div class="row">
        <div class="col">
          <div class="table-top mt-3">
            <h6>Employer Message : <span class="badge badge-success">1</span></h6>
          </div>
          <div class="table-responsive">
            <table class="table online-app-table">
              <thead>
              <tr>
                <th>#</th>
                <th>Company Name</th>
                <th class="text-center">Mailed on</th>
                <th class="text-center">Action/Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1.</td>
                <td>
                  <p>Softnio</p>
                  <p>UI/ UX Designer</p>
                </td>
                <td class="text-center"><i class="far fa-calendar-check"></i> 10 Jun 2016</td>
                <td class="text-center">
                  <a routerLink="/home/employer-message-details" class="btn btn-success btn-sm text-white"><i class="fas fa-binoculars ml-0"></i> View</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
