<div class="d-flex align-items-center justify-content-between mb-3">
  <h6 class="page-title mb-0"><i class="fas fa-cogs"></i> Settings</h6>
</div>

<div class="card custom-card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-group">
          <a routerLink="categories" class="list-group-item list-group-item-action">Categories</a>
          <a routerLink="industry" class="list-group-item list-group-item-action">Industry Type</a>
          <a routerLink="areas" class="list-group-item list-group-item-action">Areas</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="list-group">
          <a routerLink="institutes" class="list-group-item list-group-item-action">Institutes</a>
          <a routerLink="degrees" class="list-group-item list-group-item-action">Degrees</a>
          <a routerLink="skills" class="list-group-item list-group-item-action">Skills</a>
        </div>
      </div>
    </div>
  </div>
</div>
