<div class="error-wrapper">
  <div class="error-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo-wrapper">
            <a routerLink="/"><img src="../../../../assets/images/logo.png" style="width: 120px" alt=""></a>
          </div>
        </div>
        <div class="col-sm-2 mb-4">
          <img src="../../../../assets/images/Pencil2.gif" alt="">
        </div>
        <div class="col-sm-8">
          <div class="doc">
            <h4><span style="color: #999">We're sorry!</span> The page you have requested cannot be found.</h4>
            <p>It looks like the page you were looking for doesn't exist or unavailable; or maybe you mistyped the URL.</p>
            <h5>Please <a routerLink="/">click here</a> to return to our home page.</h5>
          </div>
        </div>
        <div class="col-sm-2 mt-4">
          <img src="../../../../assets/images/www_URL.gif" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
