.employer-table {
  border-collapse: separate;
  border-spacing: 0 .6em;

  tbody {
    tr {
      margin-bottom: 10px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1),
      0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
  }
}
