<app-header [isPublic]="true"></app-header>


<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto login-sec" *ngIf="mode === 'step1'">
        <div class="border-box">
          <div class="sadagar-registration-form" style="padding-top: 0">
            <h3>Forgot Password?</h3>
            <p>Enter your email address or Phone number below and we'll send you password reset instructions.</p>
            <form class="mt-3" [formGroup]="step1Form" (ngSubmit)="step1Submit()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Email or Mobile number"
                       formControlName="username">
                <div appInvalidMessage="username">
                  <small class="text-danger" *appInvalidType="'required'">Email or Phone is Required</small>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sign btn-block">
                  Reset Password
                  <app-spinner [name]="'step1'" [type]="'btn'"></app-spinner>
                </button>
              </div>
              <div
                style="text-align: center; border: 1px dashed #eee;border-left: none;border-right: none; padding: 5px 0;">
                Don’t have an account?
                <a routerLink="/registration"> Join as Job seeker</a>
                <a routerLink="/employer-registration"
                   style="padding-left: 20px;">Join as Employer</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--End Step 1: Send email or sms for security code-->

      <!--Start Step 2: verify code-->
      <div class="col-md-5 mx-auto login-sec" *ngIf="mode === 'step2'">
        <div class="border-box">
          <div class="sadagar-registration-form" style="padding-top: 0">
            <h3>Enter Security Code</h3>
            <p>We sent a verification code to your Email/Phone. Please enter the code below.</p>
            <form class="mt-3" style="font-size: 12px" (ngSubmit)="step2Submit()" [formGroup]="step2Form">
              <div class="form-group">
                <input id="43335_email" type="text" class="form-control" placeholder="Enter verification code."
                       formControlName="code">
                <div appInvalidMessage="code">
                  <small class="text-danger" *appInvalidType="'required'">Code is Required</small>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sign btn-block" [disabled]="submitAttempt">
                  Submit security code
                  <app-spinner [name]="'step2'" [type]="'btn'"></app-spinner>
                </button>
                <p style="text-align: center;" class="mt-2">
                  <a (click)="resendCode()" class="link-register" href="javascript:"
                     [class.disabled]="verificationSpinner['active'] || timer">Resend
                    <app-spinner #verificationSpinner [name]="'resendCode'" [type]="'btn'"></app-spinner>
                  </a>
                  <span *ngIf="timer">({{ timer }})</span>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--End Step 2: verify code-->

      <!--Start Step 3: Change Password-->
      <div class="col-md-5 mx-auto login-sec" *ngIf="mode === 'step3'">
        <div class="border-box">
          <div class="" style="padding-top: 0">
            <h3>Change Your Password</h3>
            <form class="mt-3" (ngSubmit)="step3Submit()" [formGroup]="step3Form">
              <div class="form-group">
                <label for="r3443_password1">Password</label>
                <input id="r3443_password1" [type]="showPass ? 'text' : 'password'" class="form-control"
                       placeholder="Your password" formControlName="password">
                <a href="javascript:" class="show-pass" (click)="showPass = !showPass">
                  <i class="fa fa-eye" *ngIf="!showPass"></i>
                  <i class="fa fa-eye-slash" *ngIf="showPass"></i>
                </a>
                <div appInvalidMessage="password">
                  <small class="text-danger" *appInvalidType="'required'">Password is required</small>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sign btn-block" [disabled]="submitAttempt">
                  Reset Password
                  <app-spinner [name]="'step3'" [type]="'btn'"></app-spinner>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer [footerSalesPerson]="false"></app-footer>

