<h6 class="page-title"><i class="far fa-address-card"></i> Set / Change User ID</h6>
<div class="card custom-card">
  <div class="card-body">
    <p class="notice-content">Here you will be able to change or set your user ID. To set or change your user ID you
      need to go through some simple steps. After setting or changing your user ID, you will be able to sign in to your
      bdjobs account using the new user ID.</p>
    <div class="upload-resume-wrapper">
      <div class="col-md-12">
        <a routerLink="/home/account-settings/change-user-id" [queryParams]="{type: 'email'}" class="list-group-item list-group-item-action mb-3"
           style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 4px">Set / Change User ID <small>(Email Address)</small></a>
      </div>
      <div class="col-md-12">
        <a routerLink="/home/account-settings/change-user-id" [queryParams]="{type: 'mobile'}" class="list-group-item list-group-item-action mb-3"
           style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 4px">Set / Change User ID <small>(Mobile Number)</small></a>
      </div>
    </div>
  </div>
</div>
