<section class="footer-area">
  <div class="footer-top-directory">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget">
            <h3>Office Address</h3>
            <address>
              569/3 Moddho Monipur <br>
              60 Feet Road (Barek Molla Mor) <br>
              Mirpur-02, Dhaka-1216, Bangladesh
            </address>
          </div>
        </div>
       <!-- <div class="col-sm-9">
          <div class="widget">
            <h3>Sales Contact Person</h3>
            <div class="d-flex align-items-start">
              <img src="assets/images/User-avatar1.png" alt="">
              <div>
                <h6 class="">Sazzad Hossain Shaon</h6>
                <p class="mb-1">Assistant Manager, Sales</p>
                <p class="mb-1">Mobile: +88 01747305750</p>
                <p class="mb-1">Email: sazzad@morejobsbd.net</p>
              </div>
            </div>
          </div>
        </div>-->
        <div class="col-md-3 col-sm-4 col-xs-12">

        </div>
        <div class="col-md-3 hidden-sm">

        </div>
      </div> <!--Row Close-->
    </div><!--Container Close-->
  </div><!--Footer Top Close-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget">
            <h3>About Us</h3>
            <ul>
              <li><a target="_blank" href="{{apiUrl + '/pages/about-us'}}">About Morejobs</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/terms-and-conditions'}}">Terms &amp; Conditions</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/accessibility-statement'}}">Accessibility Statement</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/privacy-and-policy'}}">Privacy Policy</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/feedback'}}">Feedback</a></li>
              <li><a target="_blank" href="{{apiUrl + '/contact-us'}}">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget">
            <h3>Job Seekers</h3>
            <ul>
              <li><a routerLink="/registration">Create Account</a></li>
              <li><a routerLink="/login">My Morejobs</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/faq'}}">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget">
            <h3>Employers</h3>
            <ul>
              <li><a routerLink="/employer-registration">Create Account</a></li>
              <li><a routerLink="/company/packages/jobs">Products/Service</a></li>
              <li><a routerLink="/company/job-posting-board?step=primary_job_info">Post a Job</a></li>
              <li><a target="_blank" href="{{apiUrl + '/pages/faq'}}">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 hidden-sm">
          <div class="widget">
            <h3>Tools & Social Media</h3>
            <ul>
              <li><a href="https://www.facebook.com/MOREJOBSBD"><i class="icofont-facebook"></i> Facebook</a></li>
              <li><a href="https://twitter.com/MoreJobs2"><i class="icofont-twitter"></i> Twitter</a></li>
              <li><a href="https://www.youtube.com/channel/UC6ngxk3UEw7DJGWQ8cfsBWA"><i class="icofont-youtube"></i> Youtube</a></li>
            </ul>
          </div>
        </div>
      </div> <!--Row Close-->
    </div><!--Container Close-->
  </div><!--Footer Top Close-->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright">
            Need any support ? Call to 01723569987
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright float-right">
            Developed By <a href="#"><img src="assets/images/zoomit.png" style="display:inline-block; width:80px" alt="ZOOM IT"></a>
          </div>
        </div>
      </div> <!--Row Close-->
    </div><!--Container Close-->
  </div><!--Footer Bottom Close-->
</section><!--Footer Area Close-->
