<div class="d-flex align-items-center justify-content-between mb-3">
  <h6 class="page-title mb-0"><i class="fas fa-cogs"></i> Content Management</h6>
</div>

<div class="card custom-card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-group">
          <a routerLink="trainings" class="list-group-item list-group-item-action">Trainings</a>
          <a routerLink="admissions" class="list-group-item list-group-item-action">Admissions</a>
          <a routerLink="ads" class="list-group-item list-group-item-action">Ads</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="list-group">
          <a routerLink="events" class="list-group-item list-group-item-action">Events</a>
          <a routerLink="scholarships" class="list-group-item list-group-item-action">Scholarship</a>
          <a routerLink="articles" class="list-group-item list-group-item-action">Articles</a>
        </div>
      </div>
    </div>
  </div>
</div>
