<h6 class="page-title"><i class="fas fa-road"></i> Message Details</h6>
<div class="card custom-card">
  <div class="card-body">
    <div class="upload-resume-wrapper">
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0">
              <tbody>
              <tr>
                <td><b>From</b></td>
                <td>: Softnio (career@softnio.com)</td>
              </tr>
              <tr>
                <td><b>Mailed on</b></td>
                <td>: <i class="far fa-calendar-check"></i> 10 June, 2016</td>
              </tr>
              <tr>
                <td><b>Subject</b></td>
                <td>: Important - Regarding your application at Softnio</td>
              </tr>
              <tr>
                <td><b>Job Title</b></td>
                <td>: UI/ UX Designer</td>
              </tr>
              </tbody>
            </table>
          </div>
          <p class="my-4">Thanks for your interest in Softnio. To complete your application and move to next phase, please visit
            http://career.softnio.com/apply/ and select proper position to apply and get your Application ID. If you
            have any questions concerning Job, please contact us by email at career@softnio.com</p>
          <h6>Regards,</h6>
          <p class="mb-1">Abu Bin Ishtiyak</p>
          <p class="mb-1">HR Manager</p>
          <p class="mb-1">Softnio</p>
        </div>
      </div>
    </div>
  </div>
</div>
